[submodule "elibs/mve"]
	path = elibs/mve
	url = https://github.com/andre-schulz/mve.git
[submodule "elibs/rayint"]
	path = elibs/rayint
	url = https://github.com/nmoehrle/rayint.git
[submodule "elibs/eigen"]
	path = elibs/eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "third_party/mve/third_party/zlib"]
	path = third_party/mve/third_party/zlib
	url = https://github.com/madler/zlib.git
[submodule "third_party/mve/third_party/libpng"]
	path = third_party/mve/third_party/libpng
	url = https://github.com/pnggroup/libpng.git
